* {
  box-sizing: border-box;
}

.navbar {
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
  display: flex;
  flex-direction: column;
  background: black;
}

.navbar-top {
  height: 80px;
  padding: 0 80px;
  background: transparent;
  display: flex;
}

.navbar-bottom {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0px;
  padding: 3px 20px 10px 20px !important;
}

.navbar-bottom.clicked {
  height: 270px;
}

.navbar-white {
  background-color: white;
}

.navbar-transparent {
  background-color: transparent;
  color: white;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 33.33%;
}

.navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  padding: 0 20px;
}

.navbar-end {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  width: 33.33%;
}

.navbar-item img {
  max-height: 75px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 48px;
  background: transparent;
  border: 1px solid #DDDDDD;
  /* box-shadow: 0px 0px 1px #000000; */
  border-radius: 50px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
  color: #222222;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  font-size: 14px;
}

.button.account-button {
  background-color: white;
  padding: 0.25rem;
}

.button:hover {
  border: 1px solid #DDDDDD;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 5%);
}

.nav-right {
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  padding: 0 20px;
}

.nav-right:hover {
  background-color: rgba(0, 0, 0, 0.05) ;
  box-shadow: none;
  border: none;
}

.dropdown-menu {
  left: auto; 
}

.button.nav-transparent {
  color: white;
}

.button.nav-transparent.nav-center {
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.button.nav-transparent.nav-center:hover {
  color: rgba(225, 225, 225, 90);
}

.button-bottom-border {
  margin-top: 10px;
  width: 40px;
  border-bottom: 2px solid transparent;
}

.button-bottom-border.active {
  border-bottom: 2px solid white;
}

.search-button {
  max-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white ;
}

.search-text {
  text-align: left;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  background-color: #FF385C;
  padding: 5px;
  border-radius: 50px;
}



.user-account-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  background-color: grey;
  padding: 5px;
  border-radius: 50px;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  background-color: transparent;
  padding: 5px;
  border-radius: 50px;
}


.search-form {
  height: 56px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white ;
  padding: 0;
}

.form-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px !important;
  background-color: #FF385C;
  padding: 5px;
  margin: 0.25rem 0.25rem 0.25rem 0;
  border-radius: 50px;
  color: white;
}
.form-close-icon {
  font-size: 35px;
  padding: 0 !important;
}

.search-form-button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-form-dropdown {
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  padding: 0 20px;
}

.search-form-dropdown:hover {
  background-color: rgba(0, 0, 0, 0.05) ;
  box-shadow: none;
  border: none;
}

.search-form-container {
  height: 100%;
  flex-grow: 1;
}

.bottom-search {
  width: 100%;
  height: 56px;
}

.bottom-search-button {
  max-width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white ;
}

.course-dropdown-menu, .allergens-dropdown-menu {
  left: 0;
  right: auto;
}

.course-dropdown-content, .allergens-dropdown-content {
  max-height: 200px;
  overflow: auto;
}

.course-dropdown, .allergens-dropdown, .dropdown-trigger {
  width: 100%;
}

.bottom-search-text {
  text-align: left;
}

.bottom-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #FF385C;
  padding: 5px;
  border-radius: 50px;
}

.bottom-search-form {
  height: 250px;
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  background: white ;
  padding: 0;
  border-radius: 30px;
}

.bottom-search-form-container {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}


.bottom-form-search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px !important;
  background-color: #FF385C;
  padding: 5px;
  margin: 0.25rem 0.25rem 0.25rem 0;
  border-radius: 50px;
}

.bottom-search-form-button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-search-form-dropdown {
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  padding: 0 20px;
}

.bottom-search-form-dropdown:hover {
  background-color: rgba(0, 0, 0, 0.05) ;
  box-shadow: none;
  border: none;
}

.bottom-search-form-buttons {
  display: flex;
  color: white;
}

.search-input-box {
  width: 100%;
  background: transparent;
  border: 0 !important;
  cursor: pointer;
  outline: none;
}

.bottom-dropdown {
  height: 100%;
}

.login-popup.hide {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}

.login-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: 800ms;
  opacity: 1;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.loginOrRegister-popup.hide {
  transform: translateY(100px) scale(0) rotateY(180deg);
  opacity: 0;
}

.loginOrRegister-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: 800ms;
  opacity: 1;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 !important;
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
}

.close-login-popup {
  background-color: #FF385C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 0px solid black;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.login-close-icon {
  font-size: 26px;
  color: white;
  background-color: #FF385C;
  padding: 0 !important;
}

.form-field-container {
  margin-top: 20px;
  min-width: 260px;
  min-width: 300px;
}

.remove-filter-icon {
  margin: 0 !important;
  padding-left: 10px;
  color: #FF385C;
  background: transparent;
}

.current-filter-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: black;
  width: 110px;
}
.current-filter-title.none {
  width: 165px;
}

.current-filters {
  flex-wrap: wrap;
}

.fa-long-arrow-alt-left {
  color: white;
  font-size: 26px;
}

@media screen and (max-width: 1050px) {
  .nav-right {
    display: none;
  } 

  .logo-main {
    display: none;
  } 

  .navbar-brand {
    width: 25%;
  }
  
  .navbar-center {
    width: 50%;
  }
  
  .navbar-end {
    width: 25%;
  }

}

@media screen and (min-width: 1050px) {
  .logo-small {
    display: none;
  } 

}

@media screen and (max-width: 700px) {
  .navbar-top {
    padding: 0 20px;
  }

  .navbar-center {
    display: none;
  }

  .navbar-brand {
    width: 50%;
  }

  .navbar-end {
    width: 50%;
  }
  .search-form {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .search-recipes {
    display: none;
  }
  .cooking-classes {
    display: none;
  }
  .inspiration {
    display: none;
  }
  .bottom-divider {
    display: none;
  }

  .bottom-search { 
    display: none;
  }

}




/* * MY PROFILE PAGE */

.my-profile {
  padding-top: 220px;
  padding-bottom: 20px;
}
.page-title {
  font-size: 28px;
}
.page-title hr {
  margin-top: 30px;
}
/* My Recipes */
.my-recipes, .my-liked-recipes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
}

.my-recipes-title, .my-liked-recipes-title {
  font-size: 18px;
  margin-bottom: 20px;
}


/* * LIKE RECIPE */
.like-recipe-container {

  background-color: black;
}

.like-recipe-button {
  cursor: pointer;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0,0.15);
  justify-content: center;
  align-items: center;
  border-radius: 50px !important;
  margin: 10px;
  padding: 20px;
  z-index: 10;
}

.like-recipe-button.liked {
  background-color: #FF385C;
}
.liked-recipes-container {
  width: 100%;
}

#heart-icon {
  margin: 0 !important;
  padding: 0 !important;
}

.show-like-button, .show-share-button {
  margin: 5px;
  cursor: pointer;
  color: black !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0,0.15);
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 50px;
}

.show-like-button:hover, .show-like-button.liked, .show-share-button:hover {
  color: white !important;
  background-color: #FF385C;
}


/* Hero Section */
.home-hero {
  width: 100%;
  padding-top: 75px;
}

.home-hero-body {
  width: 100% !important;
  height: 600px;
  padding: 0 !important;
}

.hero-background {
  display: block;
  width: 100% !important;
  height: 600px;
  background-size: cover;
  background-image: URL('../assets/heroImages/1.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* * Recipe Index */

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recipe-index-columns {
  margin-top: -40px;
}

.current-filter-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.filter-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.dropdown-filter, .dropdown-rating {
  margin: 5px;
}

.dropdown-item {
  color: black;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover, .dropdown-item:active {
  color: white !important;
  background-color: #FF385C !important;
  border: 0;
}

.current-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.showing-count {
  margin: 10px;
  flex-wrap: nowrap;
}

.card-header-title {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .current-filter-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .current-filters {
    justify-content: center;
    align-items: center;
  }
  .current-filter-title {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .recipe-index-columns {
    justify-content: center !important;
  }
  .card-header-title {
    font-size: 14px;
  }
  .column.is-three-quarters-mobile {
    width: 50% !important;
  }
}
@media screen and (max-width: 500px) {
  .column.is-three-quarters-mobile {
    width: 100% !important;
  }
}